{% extends 'base.html' %}
{% load static %}

{% block content%}
    <div class="section-top">
        <div class="title">
            <h1>Приветствую!</h1>
             <h1>Меня зовут Артем!</h1>
        </div>
    </div>
    <div class="about">
            <h1 class="category-title">Обо мне</h1>
            <div class="about-text">
                <p>Информация обо мне. Информация обо мне Информация обо мне Информация обо мне Информация обо мне
                Информация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мне
                Информация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мне
                Информация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мне
                Информация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мне
                Информация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мнеИнформация обо мне
                </p>
            </div>
    </div>
    <div class="projects">
    <h1 class="category-title">Мои проекты</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% for project in projects %}
                        название{{ project.key.name }}

                        инфо {{ project.key.description }}

                        <img src="{{ project.img.url }}" class="img-responsive">
                        +++++++++++++++++++++++++
                    {% endfor %}
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </div>
{% endblock %}