<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <!--Логотип-->
    <a class="navbar-brand" href="#">Логотип</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
            </li>
            <!--Выпадающее меню-->
            <div class="dropdown show nav-item">
                <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выпадающее меню
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Первый пункт</a>
                    <a class="dropdown-item" href="#">Второй пункт</a>
                    <a class="dropdown-item" href="#">Третий пункт</a>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link " href="#">Обо мне</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Доп.пункт№1</a>
            </li>
        </ul>
    </div>
</nav>